body {
  overflow: hidden;
  ::-webkit-scrollbar {
    background-color: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #dcdcdc;
    border: 4px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
.login-background {
  @keyframes formAnimation {
    0% {bottom: 1000px}
    50% {bottom: 70px}
    65% {bottom: 120px}
    70% {bottom: 80px}
    85% {bottom: 110px}
    95% {bottom: 90px}
    100% {bottom: 100px}
  }
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #F5F5F5 url(./spider.png) left bottom no-repeat;
  .right-top-logo {
    width: 0;
    height: 0;
    border-top: 100px solid #7BDDEF;
    border-left: 100px solid transparent; 
    position: fixed;
    top: 0;
    right: 0;
    img {
      width: 50px;
      height: 50px;
      position: fixed;
      right: 4px;
      top: 6px;
      transform: rotate(45deg);
    }
  }
  .login {
    background: #373941;
    text-align: center;
    position: relative;
    bottom: 100px;
    animation: formAnimation 1s;
    padding: 40px 30px 20px 30px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.42);
    h1 {
      font-size: 16px;
      color: #7BDDEF;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .login-form-section {
      .ant-input {
        border: 1px solid #d9d9d9;
        box-shadow: 4px 4px 2px rgba(0,0,0,0.42);
      }
      .ant-btn-primary {
        box-shadow: 4px 4px 2px rgba(0,0,0,0.42);
      }
      .login-form {
        width: 300px;
      }
      .login-form-button {
        width: 100%;
      }
    }
    .logo-section {
      text-align: center;
      margin-bottom: 30px;
      img {
        height: 60px;
        margin-left: -30px;
      }
      span {
        text-shadow:2px 3px 4px #7BDDEF;
        font-size: 28px;
        font-weight: bold;
        color: #7BDDEF;
        margin-left: -20px;
      }
    }
  }
}
.container {
  .header {
    background: #373941;
    box-shadow: 0 2px 4px 0 rgba(1, 6, 15, 0.4), 0 2px 6px 0 rgba(16,72,130,0.16);
    min-height: 56px;
    position: fixed;
    z-index: 99;
    width: 100%;
  }
  .nav-left {
    height: 94vh;
    padding: 10px;
    margin-top: 56px;
    background: #373941;
    border-right: 1px solid #E8EAEE;
  }
  .content {
    height: 100vh;
    overflow: auto;
    background: #F0F2F5;
    padding: 100px 20px 30px 30px;
    .route-section {
      border: 1px solid #eee;
      height: 1000px;
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
      padding: 20px;
    }
  }
}